{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    // Add under other rules
    "@vue/prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "parser": "vue-eslint-parser",
  "plugins": ["prettier"],
  "rules": {
    "vue/multi-word-component-names": 0,
    "vue/html-self-closing": 0,
    "prettier/prettier": "error"
  }
}
